.stateDescriptionArea {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.stateDescriptionArea button {
    margin-left: 0.5em;
}

#assignedUserWrapper {
    padding-right: 0.5em;
}

.issueAssignContentWrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.issueAssignControlsWrapper {
    display: flex;
    flex-direction: row;
    justify-items: baseline;

}

.issueAssignControlsWrapper > button {
    margin-right: 0.5em;
}

/*issueHistory selectors*/

.issueHistoryList {

}

.issueHistoryList ul {
    list-style: none;
    padding-inline-start: 0;
}

.issueHistoryList li {
    padding: 0.5em 0;
}
