.stateDescriptionArea {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.stateDescriptionArea button {
    margin-left: 0.5em;
}

#assignedUserWrapper {
    padding-right: 0.5em;
}

.issueAssignControlsWrapper {
    display: flex;
    flex-direction: row;
    justify-items: baseline;

}

.issueAssignControlsWrapper > button {
    margin-right: 0.5em;
}