.linkWrapper a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.linkWrapper {
    padding: 0 0.5em;
}

.linkWrapper > a > span {
    padding: 0 0.5em;
}

.firstName {

}

.lastName {

}

.emptyMessageLabel {
    text-transform: capitalize;
    font-weight: bold;
}