.linkWrapper{
    padding: 0 0.5em;
    /*text-align: center;*/
}

.linkWrapper > link{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.firstName{
    margin-right: 0.5em;
}

.lastName{

}

.emptyMessageLabel {
    text-transform: capitalize;
    font-weight: bold;
}