.userViewContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 550px;
}

.imageWrapper {
    flex-grow: 1;
}

.imageWrapper > img {
    width: 100%;
}

.userViewContainer div {
    width: 10%;
}

.userNamePartWrapper {
    flex-grow: 3;
    padding-left: 0.5em;
}

.userNamePartWrapper link {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 450px) {
    .userViewContainer div {
        width: auto !important;
    }
}