.userViewContainer {
    display: flex;
    flex-direction: row;
}

.userIdRecord {
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
}

.userViewContainer img {
    width: 20%;
}

.child {
    margin-right: 1em;
}

